# .gitignore

# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar dependências instaladas (Streamlit Cloud cuida disso)
venv/
.venv/

# Arquivo de secrets do Streamlit - ESSENCIAL PARA SEGURANÇA
# Este arquivo contém suas chaves Supabase e NÃO DEVE IR PARA O GITHUB.
.streamlit/secrets.toml
